@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    white-space: nowrap;
}

html, body {
    height: 100%;
}

:root {
    --field-length: 120px;
    --font-size: 45px;
}

body {
    font-family: Roboto;
}

main {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    display: flex;
    gap: 5px;
    width: fit-content;
    padding: 0 0 0 20px;
}

.wrapper {
    width: fit-content;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding: 21px;
    background-color: #f1f1f1;
}

.wrapper::-webkit-scrollbar {
    display: none;
}

section {
    width: 846px;
}

.calendar {
    width: 56px;
    height: 56px;
}

.arrow {
    width: 68px;
    height: 68px;
}

.close {
    width: 50px;
    height: 50px;
}

.date-input-wrapper:not(.date-input-wrapper:nth-child(1))::before {
    left: calc(var(--font-size) / -4);
}

@media (max-width: 2560px) {
    section {
        width: 686px;
    }

    :root {
        --field-length: 98px;
        --font-size: 36px;
    }

    .calendar {
        width: 46px;
        height: 46px;
    }

    .arrow {
        width: 55px;
        height: 55px;
    }

    .close {
        width: 42px;
        height: 42px;
    }
}

@media (max-width: 2048px) {
    section {
        width: 554px;
    }

    :root {
        --field-length: 79px;
        --font-size: 29px;
    }

    .calendar {
        width: 37px;
        height: 37px;
    }

    .arrow {
        width: 45px;
        height: 45px;
    }

    .close {
        width: 32px;
        height: 32px;
    }
}

@media (max-width: 1920px) {
    section {
        width: 357px;
    }

    :root {
        --field-length: 51px;
        --font-size: 19px;
    }

    .calendar {
        width: 26px;
        height: 26px;
    }

    .arrow {
        width: 29px;
        height: 29px;
    }

    .close {
        width: 24px;
        height: 24px;
    }
}

#toDate-calendar {
    width: 100%;
}

table {
    border-collapse: collapse;
    border: 0.5px solid #969FA8;
    display: none;
    width: 100%;
}

section.active table {
    display: unset;
}

td,
th {
    font-family: 'Roboto';
    font-size: var(--font-size);
    font-style: normal;
    font-weight: 400;
    border: 0.5px solid #969FA8;
    text-align: center;
    width: 1%;
    height: var(--field-length);
}

td {
    color: #6CA3FE;
    background-color: #F6F6F6;
    cursor: pointer;
}

.bgBeforeActive {
    background-color: #D4F6FF;
}

th {
    font-weight: bold;
    background-color: #fff;
}

.void-day {
    border: none;
    background-color: #fff;
}

.active-day {
    background-color: #2879FF;
    color: #fff;
}

.between-day {
    background-color: #D4F6FF;
    color: #2961FE;
}

.date {
    width: 100%;
    height: var(--field-length);
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 4px;
    border: 0.5px solid #969FA8;
    background: #F6F6F6;
    cursor: pointer;
}

section.active .date {
    background: #fff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

input:focus {
    outline: none;
}

.date-section {
    height: 100%;
    display: flex;
    align-items: center;
}

section.filled .date-section {
    background: #D4F6FF;
}

main.full-filled .date {
    border: 0.5px solid #2879FF;
}

.date-section:nth-child(1) {
    padding: 0 23px;
    width: 100%;
    justify-content: space-between;
}

section.filled .date-section:nth-child(1) {
    padding: 0 0 0 23px;
}

.date-text {
    display: flex;
    align-items: center;
    gap: 4px;
}

.date-text-wrapper {
    display: flex;
    align-items: center;
}

.date-label {
    color: #434C4E;
    font-size: var(--font-size);
    font-weight: 300;
}

.date-input {
    color: #000;
    font-size: var(--font-size);
    font-weight: 700;
    width: calc(var(--font-size) * 2);
    background: none;
    border: none;
}

.date-by-text {
    color: #000;
    font-size: var(--font-size);
    font-weight: 700;
    text-transform: uppercase;
}

section.active .date-by-text {
    display: none;
}

section.active .date-input-wrapper {
    display: unset;
}

section.not-filled .date-by-text {
    display: none;
}

section.not-filled .date-input-wrapper {
    display: unset;
}

.date-input::placeholder {
    color: #B2B4B4;
    font-weight: 400;
}

.date-input-wrapper {
    display: none;
    position: relative;
    margin-left: 5px;
}

.date-input-wrapper:not(.date-input-wrapper:nth-child(1))::before {
    content: ".";
    color: #000;
    font-size: var(--font-size);
    font-weight: 700;
    position: absolute;
    bottom: 0;
}

.date-input.day {
    text-align: right;
}

.date-input.month {
    text-align: center;
}

.date-input.year {
    width: calc(var(--font-size) * 3);
}

.date-clear {
    cursor: pointer;
}

.year-select {
    display: none;
}

section.active .year-select {
    display: flex;
}

.year-select-inactive {
    height: var(--field-length);
    border: 0.5px solid #969FA8;
    background: #FFF;
    padding: 0 6px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 100%;
}

.left {
    transform: rotate(270deg);
    cursor: pointer;
}

.right {
    transform: rotate(90deg);
    cursor: pointer;
}

.down {
    transform: rotate(180deg);
    cursor: pointer;
    margin-top: 5px;
}

.year-select-label {
    color: #2961FE;
    text-align: center;
    font-size: var(--font-size);
    font-weight: 400;
    cursor: pointer;
}

.year-select-active {
    display: none;
    width: 100%;
}

.year-select.active .year-select-inactive {
    display: none;
}

.year-select.active .year-select-active {
    display: unset;
}

.year-select-input {
    height: 44px;
    padding: 0 6px;
    color: #2961FE;
    text-align: center;
    font-size: var(--font-size);
    font-weight: 400;
    width: 100%;
    border: 0.5px solid #969FA8;
}

.year-select-input::placeholder {
    color: rgba(0, 0, 0, 0);
}

.year-cards {
    background-color: #fff;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    height: calc(var(--field-length) * 5);
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    align-content: flex-start;
}

.year-cards::-webkit-scrollbar {
    display: none;
}

.year-card {
    height: var(--field-length);
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ace3e3;
    cursor: pointer;
    color: #000;
    text-align: center;
    font-size: var(--font-size);
    font-weight: 400;
}

.year-card:hover {
    background-color: #F6F6F6;
}

section.year-select-activated table {
    display: none;
}

section.year-select-activated .month-select {
    display: none;
}

.month-select {
    width: 100%;
    display: none;
}

.month-select.active .down {
    transform: rotate(0deg);
}

section.active .month-select {
    display: unset;
}

section.year-select-activated .month-select {
    display: none;
}

.month-select-header {
    height: var(--field-length);
    border: 0.5px solid #969FA8;
    background: #FFF;
    padding: 0 6px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 100%;
}

.month-select-text-wrapper {
    display: flex;
    gap: 5px;
    cursor: pointer;
    align-items: center;
}

.month-select-text {
    color: #2961FE;
    text-align: center;
    font-size: var(--font-size);
    font-weight: 400;
    cursor: pointer;
    text-transform: capitalize;
}

.month-select-cards {
    flex-wrap: wrap;
    background-color: #fff;
    padding: 25px 20px;
    gap: 21px;
    justify-content: center;
    height: calc(var(--field-length) * 4);
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: none;
}

.month-select-cards::-webkit-scrollbar {
    display: none;
}

.month-select-card {
    width: 28%;
    height: var(--field-length);
    border: 1px solid #ace3e3;
    color: #000;
    justify-content: center;
    font-size: var(--font-size);
    font-weight: 400;
    background-color: #fff;
    display: flex;
    align-items: center;
}

.month-select-card:hover {
    background-color: rgba(0, 0, 0, 0.10);
}

.month-select.active .month-select-cards {
    display: flex;
}

.footer {
    min-width: 100%;
    padding: 14px 10px;
    background-color: #F6F6F6;
    display: none;
    justify-content: center;
    gap: 20px;
}

.clear-button {
    background: none;
    border: none;
    padding: 4px 8px;
    color: #2879FF;
    text-align: center;
    font-size: var(--font-size);
    font-weight: 400;
    cursor: pointer;
}

.clear-button:hover {
    text-decoration: underline;
}

.accept-button {
    padding: 4px 8px;
    border: none;
    background-color: #B2B4B4;
    color: #FFF;
    text-align: center;
    font-size: var(--font-size);
    font-weight: 400;
    cursor: default;
}

.accept-button.active {
    background-color: #2879FF;
    cursor: pointer;
}

.footer.active {
    display: flex;
}

.error-wrapper {
    margin-top: 15px;
    display: flex;
    gap: 5px;
    align-items: center;
    display: none;
    padding-left: 20px;
}

.error-image {
    width: 26px;
    height: 26px;
}

.error-text {
    color: #C80000;
    font-size: var(--font-size);
    font-weight: 400;
    white-space: pre-wrap;
}

.error-wrapper.active {
    display: flex;
}

.header-mobile {
    display: none;
    padding: 10px 40px;
    justify-content: space-between;
    align-items: center;
}

.mobile-header-text {
    color: #000;
    text-align: center;
    font-size: var(--font-size);
    font-weight: 700;
}

.footer-desktop {
    display: none;
}

@media (max-width: 800px) {
    :root {
        --field-length: 43px;
        --font-size: 16px
    }

    section {
        width: 301px;
    }

    .wrapper {
        padding: 21px;
    }

    .date-section:nth-child(1) {
        padding: 0 0 0 23px;
    }

    .date-text {
        gap: 1px;
    }

    section.filled .calendar {
        display: none;
    }

    section.filled .date-section:nth-child(1) {
        padding: 0 0 0 16px;
    }

    .month-select-cards {
        gap: 15px;
        padding: 15px 5px;
    }
}

@media (max-width: 640px) {
    :root {
        --field-length: 51px;
    }

    .container {
        flex-wrap: wrap;
        gap: 0;
    }

    .wrapper {
        width: 100%;
    }

    .container {
        width: 100%;
    }

    section {
        width: 100%;
    }

    section.active {
        display: none;
    }

    section.active.current {
        display: block;
    }

    section.filled .date-section:nth-child(1) {
        padding: 0 0 0 23px;
    }

    section.active.current .month-select.active {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100dvh;
        background-color: #fff;
    }

    section.active.current .month-select.active .month-select-header {
        display: none;
    }

    section.active.current .month-select.active .header-mobile {
        display: flex;
    }

    .month-select.active .month-select-cards {
        height: fit-content;
    }

    .month-select-card {
        width: 28%;
        height: var(--field-length);
        color: #000;
        text-align: center;
        font-size: var(--font-size);
        font-weight: 400;
    }

    .footer {
        flex-direction: column-reverse;
        gap: 10px;
    }

    .clear-button {
        height: var(--field-length);
        width: 100%;
        border: 1px solid #2961FE;
    }

    .accept-button {
        height: var(--field-length);
        width: 100%;
    }

    .year-select-active {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100dvh;
        background-color: #fff;
    }

    section.active.current .year-select.active .header-mobile {
        display: flex;
    }

    .year-select-input {
        color: #000;
        font-size: var(--font-size);
        font-weight: 700;
        text-align: start;
        padding: 0 25px;
        position: relative;
    }

    .year-select-input::placeholder {
        color: #000;
        font-size: var(--font-size);
        font-weight: 700;
    }
}

@media (max-width: 420px) {
    :root {
        --field-length: 35px;
    }

    .date-label-first-word {
        display: none;
    }

    section.active .calendar {
        display: none;
    }
}

@media (max-width: 300px) {
    :root {
        --font-size: 13px;
    }
}

@media (max-height: 400px) {
    :root {
        --field-length: 30px;
    }

    .footer {
        padding: 5px;
        gap: 4px;
    }
}

@media (max-height: 350px) {
    .footer {
        flex-direction: row;
        justify-content: space-between;
    }

    .accept-button {
        width: 45%;
    }

    .clear-button {
        width: 45%;
    }

    .wrapper {
        padding: 5px;
    }

    .container {
        padding-left: 5px;
    }
}

@media ((min-height: 700px) and (min-width: 640px)) {
    .footer.active {
        display: none;
    }

    .footer-desktop.active {
        display: flex;
        margin-top: 10px;
        justify-content: flex-end;
        gap: 10px;
        padding: 5px;
        width: 100%;
        align-items: center;
    }
}