@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    white-space: nowrap;
}

html, body {
    height: 100%;
}

:root {
    --font-size: 3vh;
}

body {
    font-family: Roboto;
}

main {
    height: 100dvh;
}

.container {
    display: flex;
    gap: 5px;
    width: 100%;
    height: 90%;
}

.wrapper {
    max-width: 150vh;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding: 2% 2% 0 2%;
    background-color: #f1f1f1;
    height: 100%;
}

.wrapper::-webkit-scrollbar {
    display: none;
}

section {
    width: 49%;
    height: 100%;
}

.calendar {
    height: 50%;
}

.arrow {
    height: 50%;
}

.close {
    height: 50%;
    margin: auto;
}

.date-input-wrapper:not(.date-input-wrapper:nth-child(1))::before {
    left: calc(var(--font-size) / -4);
}

#toDate-calendar {
    width: 100%;
}

.day-selector {
    height: 70%;
}

table {
    border-collapse: collapse;
    border: 0.5px solid #969FA8;
    display: none;
    width: 100%;
    height: 100%;
}

section.active table {
    display: table;
}

td,
th {
    font-family: 'Roboto';
    font-size: var(--font-size);
    font-style: normal;
    font-weight: 400;
    border: 0.5px solid #969FA8;
    text-align: center;
    width: 1%;
    height: 12%;
}

td {
    color: #6CA3FE;
    background-color: #F6F6F6;
    cursor: pointer;
}

.bgBeforeActive {
    background-color: #D4F6FF;
}

th {
    font-weight: bold;
    background-color: #fff;
}

.void-day {
    border: none;
    background-color: #fff;
}

.active-day {
    background-color: #2879FF;
    color: #fff;
}

.between-day {
    background-color: #D4F6FF;
    color: #2961FE;
}

.date {
    width: 100%;
    height: 10%;
    padding: 1%;
    display: flex;
    align-items: center;
    gap: 4px;
    border: 0.5px solid #969FA8;
    background: #F6F6F6;
    cursor: pointer;
}

section.active .date {
    background: #fff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

input:focus {
    outline: none;
}

.date-section {
    height: 100%;
    display: flex;
    align-items: center;
}

section.filled .date-section {
    background: #D4F6FF;
}

main.full-filled .date {
    border: 0.5px solid #2879FF;
}

main:has(.error-wrapper.active) .date {
    border: 0.5px solid #C80000;
}

.date-section:nth-child(1) {
    padding: 0 5%;
    width: 100%;
    justify-content: space-between;
}

section.filled .date-section:nth-child(1) {
    padding: 0 0 0 5%;
}

.date-text {
    display: flex;
    align-items: center;
    gap: 4px;
}

.date-text-wrapper {
    display: flex;
    align-items: center;
}

.date-label {
    color: #434C4E;
    font-size: var(--font-size);
    font-weight: 300;
}

.date-input {
    color: #000;
    font-size: var(--font-size);
    font-weight: 700;
    background: none;
    border: none;
    width: 1.7em;
}

.date-by-text {
    color: #000;
    font-size: var(--font-size);
    font-weight: 700;
    text-transform: uppercase;
}

section.active .date-by-text {
    display: none;
}

section.active .date-input-wrapper {
    display: flex;
}

section.not-filled .date-by-text {
    display: none;
}

section.not-filled .date-input-wrapper {
    display: flex;
}

.date-input::placeholder {
    color: #B2B4B4;
    font-weight: 400;
}

.date-input-wrapper {
    display: none;
    position: relative;
    align-items: center;
}

.date-input-wrapper:not(.date-input-wrapper:nth-child(1))::before {
    content: ".";
    color: #000;
    font-size: var(--font-size);
    font-weight: 700;
    bottom: 0;
}

.date-input.day {
    text-align: end;
}

.date-input.month {
    text-align: center;
}

.date-input.year {
    width: 4em;
}

.date-clear {
    cursor: pointer;
}

.year-select {
    display: none;
    height: 10%;
}

section.active .year-select {
    display: flex;
}

.year-select-inactive {
    height: 100%;
    border: 0.5px solid #969FA8;
    background: #FFF;
    padding: 0 6px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 100%;
}

.left {
    transform: rotate(270deg);
    cursor: pointer;
}

.right {
    transform: rotate(90deg);
    cursor: pointer;
}

.down {
    transform: rotate(180deg);
    cursor: pointer;
    margin-top: 5px;
}

.year-select-label {
    color: #2961FE;
    text-align: center;
    font-size: var(--font-size);
    font-weight: 400;
    cursor: pointer;
}

.year-select-active {
    display: none;
    width: 100%;
    height: 100%;
}

.year-select.active .year-select-inactive {
    display: none;
}

.year-select.active .year-select-active {
    display: unset;
}

.year-select.active {
    height: 90%;
}

.year-select-input {
    height: 11%;
    padding: 0 6px;
    color: #2961FE;
    text-align: center;
    font-size: var(--font-size);
    font-weight: 400;
    width: 100%;
    border: 0.5px solid #969FA8;
}

.year-select-input::placeholder {
    color: rgba(0, 0, 0, 0);
}

.year-cards {
    background-color: #fff;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    height: 89%;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    align-content: flex-start;
}

.year-cards::-webkit-scrollbar {
    display: none;
}

.year-card {
    height: 12%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ace3e3;
    cursor: pointer;
    color: #000;
    text-align: center;
    font-size: var(--font-size);
    font-weight: 400;
}

.year-card:hover {
    background-color: #F6F6F6;
}

section.year-select-activated table {
    display: none;
}

section.year-select-activated .month-select {
    display: none;
}

.month-select {
    width: 100%;
    display: none;
    height: 10%;
}

section.month-select-activated table {
    display: none;
}

.month-select.active .down {
    transform: rotate(0deg);
}

section.active .month-select {
    display: block;
}

section.year-select-activated .month-select {
    display: none;
}

.month-select-header {
    border: 0.5px solid #969FA8;
    background: #FFF;
    padding: 0 6px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;
}

.month-select.active {
    height: 80%;
}

.month-select.active .month-select-header {
    height: 12%;
}

.month-select.active .month-select-cards {
    height: 88%;
}

.month-select-text-wrapper {
    display: flex;
    gap: 5px;
    cursor: pointer;
    align-items: center;
    height: 100%;
}

.month-select-text {
    color: #2961FE;
    text-align: center;
    font-size: var(--font-size);
    font-weight: 400;
    cursor: pointer;
    text-transform: capitalize;
}

.month-select-cards {
    flex-wrap: wrap;
    background-color: #fff;
    padding: 25px 20px;
    gap: 21px;
    justify-content: center;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: none;
    align-content: flex-start;
    height: 100%;
}

.month-select-cards::-webkit-scrollbar {
    display: none;
}

.month-select-card {
    width: 28%;
    height: 14%;
    border: 1px solid #ace3e3;
    color: #000;
    justify-content: center;
    font-size: var(--font-size);
    font-weight: 400;
    background-color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.month-select-card:hover {
    background-color: rgba(0, 0, 0, 0.10);
}

.month-select.active .month-select-cards {
    display: flex;
}

.footer {
    height: 10%;
    min-width: 100%;
    background-color: #f4f4f4;
    padding: 10px;
    display: none;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.clear-button {
    background: none;
    border: none;
    padding: 20%;
    color: #2879FF;
    text-align: center;
    font-size: var(--font-size);
    padding: 0 var(--font-size);
    font-weight: 400;
    cursor: pointer;
    height: 100%;
}

.clear-button:hover {
    text-decoration: underline;
}

.accept-button {
    border: none;
    background-color: #B2B4B4;
    color: #FFF;
    text-align: center;
    font-size: var(--font-size);
    font-weight: 400;
    cursor: default;
    height: 100%;
    padding: 0 var(--font-size);
}

.accept-button.active {
    background-color: #2879FF;
    cursor: pointer;
}

.footer.active {
    display: flex;
}

.error-wrapper {
    position: absolute;
    top: 15%;
    display: flex;
    gap: 5px;
    align-items: center;
    display: none;
    padding-left: 20px;
}

.error-image {
    width: var(--font-size);
    height: var(--font-size);
}

.error-text {
    color: #C80000;
    font-size: var(--font-size);
    font-weight: 400;
    white-space: pre-wrap;
}

.error-wrapper.active {
    display: flex;
}

.header-mobile {
    display: none;
    padding: 10px 40px;
    justify-content: space-between;
    align-items: center;
}

.mobile-header-text {
    color: #000;
    text-align: center;
    font-size: var(--font-size);
    font-weight: 700;
}

@media (max-width: 800px) {
    .date-section:nth-child(1) {
        padding: 0 0 0 23px;
    }

    .date-text {
        gap: 1px;
    }

    section.filled .calendar {
        display: none;
    }

    section.filled .date-section:nth-child(1) {
        padding: 0 0 0 16px;
    }

    .month-select-cards {
        gap: 15px;
        padding: 15px 5px;
    }
}

@media (max-width: 640px) {
    :root {
        --font-size: 16px;
        --line-height: 41px;
    }

    .container {
        flex-wrap: wrap;
        gap: 0;
    }

    .wrapper {
        width: 100%;
        max-width: unset;
    }

    .container {
        width: 100%;
        height: unset;
    }

    .container:has(section.active) {
        height: calc(100% - (var(--line-height) * 3));
    }

    .date {
        height: var(--line-height);
    }

    .year-select {
        height: var(--line-height);
    }

    .year-select-input {
        height: var(--line-height);
    }

    .year-card {
        height: var(--line-height);
    }

    .month-select {
        height: var(--line-height);
    }

    .month-select-card {
        height: var(--line-height);
    }

    .accept-button {
        height: var(--line-height);
    }

    .clear-button {
        height: var(--line-height);
    }

    table {
        height: unset;
    }

    th, td {
        height: var(--line-height);
    }

    .footer {
        height: calc(var(--line-height) * 3);
    }

    .error-wrapper {
        position: static;
        margin-top: 5px;
    }

    section {
        overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    section::-webkit-scrollbar {
        display: none;
    }

    section {
        width: 100%;
    }

    section.active {
        display: none;
    }

    section.active.current {
        display: block;
    }

    section.filled .date-section:nth-child(1) {
        padding: 0 0 0 23px;
    }

    section.active.current .month-select.active {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100dvh;
        background-color: #fff;
    }

    section.active.current .month-select.active .month-select-header {
        display: none;
    }

    section.active.current .month-select.active .header-mobile {
        display: flex;
    }

    .month-select.active .month-select-cards {
        height: 75%;
        overflow-y: scroll;
    }

    .month-select-card {
        width: 28%;
        color: #000;
        text-align: center;
        font-size: var(--font-size);
        font-weight: 400;
    }

    .footer {
        flex-direction: column-reverse;
        gap: 10px;
    }

    .clear-button {
        width: 100%;
        border: 1px solid #2961FE;
    }

    .accept-button {
        width: 100%;
    }

    .year-select-active {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100dvh;
        background-color: #fff;
    }

    section.active.current .year-select.active .header-mobile {
        display: flex;
    }

    .year-select-input {
        color: #000;
        font-size: var(--font-size);
        font-weight: 700;
        text-align: start;
        padding: 0 25px;
        position: relative;
    }

    .year-select-input::placeholder {
        color: #000;
        font-size: var(--font-size);
        font-weight: 700;
    }
}

@media (max-width: 420px) {
    .date-label-first-word {
        display: none;
    }

    section.active .calendar {
        display: none;
    }
}

@media (max-width: 300px) {
    :root {
        --font-size: 13px;
    }
}

@media (max-height: 400px) {
    .footer {
        gap: 4px;
    }
}

@media (max-height: 350px) {
    .container:has(section.active) {
        height: calc(100% - var(--line-height));
    }

    .footer {
        flex-direction: row;
        justify-content: space-between;
        height: var(--line-height);
    }

    .accept-button {
        width: 45%;
        height: calc(var(--line-height));
    }

    .clear-button {
        width: 45%;
        height: calc(var(--line-height));
    }

    .container {
        padding-left: 5px;
    }
}

